body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
    background-color: lightskyblue;
    color: black;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;

}